a {
  text-decoration: none;
  color: white;
  font-family: Roboto, serif;
  font-weight: 350;
  letter-spacing: 15px;
}

li:hover {
  transform: scale(1.1);
}

li {
  padding: 50px;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in;

}

.navPageLinks {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: black;
  font-size: 5rem;
}

.menuPageTitle {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-bottom: -80px;
}

#menu {
  z-index: 5;
  width: 20px;
  height: 20px;
  margin: 30px 20px 20px 20px;
  cursor: pointer;
  float: right;
}

.bar {
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}


.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(2px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-2px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}


.change {
  display: block;
}


.navBarTitle {
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  float: right;
  margin: 30px 20px 20px 20px;
}

p {
  margin-top: 5px;
}

.image {
  z-index: 7;
  margin-left: 50px;
  width: 60px;
  height: 60px;
  margin-bottom: -100px;
}

.navPage {
  margin-top: -20px;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#menu-bar{
  transition: 1s ease-in-out;
}
#menu-bar:hover{
  transform: rotate(360deg);
}
.gesamt{
  background-color: black;
  margin-top: -25px;
}

.logoText{
  float: left;
  margin: 13px 0 0 130px;
  font-size: 13px;
  font-family: Arial, serif;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
  line-height: 50%;
}

.developerText{
  margin-top: 15px;
}
.logoText{
  z-index: 6;
  margin-top: 40px;
}

@media screen and (min-width: 1800px) {
  ul {
    padding-bottom: 400px;
  }
}
@media screen and (max-width: 650px) {
  .navPageLinks {
    font-size: 2rem;
  }
}

